*{
    box-sizing: border-box;
}

body{
    background-image: url(background.jpg);
    background-size: cover;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.container{
    width: 1000px;
    height: 800px;
    background-color: rgba(0, 0, 0, .50);
    border-radius: 3%;
    margin: 20px 250px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 800px;
}

header{
    text-align: center;
    color: rgb(37, 255, 37);
    font-size: 14px;
    width:100%;
    letter-spacing:1px;
}

header>img{
    width: 25%;
    height: 25%;
}

#hr{
    border: 10px solid rgb(37, 255, 37);
}

nav{
    background-color: rgb(37, 255, 37);
    text-align: center;
}

main .monopattino{
    color: white;
    display: inline-block;
    font-size: 16px;
    margin-top: 25px;
}

main h3{
    display: inline;
}

main p{
    font-size: 13px; 
 }
 
.carica{
    height:25px;
    border-radius: 5px;
}

.arancione{
    width: 300px;
    background-color: rgb(250, 190, 80);
}

.verde{
    width: 500px;
    background-color: rgb(52, 250, 52);
}

.rossa{
    width: 120px;
    background-color: rgb(184, 61, 61);
}
